In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Ranges ##

In [ ]:
np.arange(4)

In [ ]:
np.arange(5, 26)

In [ ]:
np.arange(5, 26, 10)

In [ ]:
np.arange(5, 25, 10)

In [ ]:
np.arange(5, 25.1, 10)

## Creating a Table from Scratch ##

In [ ]:
Table()

In [ ]:
streets = make_array('Bancroft', 'Durant', 'Channing')
southside = Table().with_column('Street', streets)

In [ ]:
southside

In [ ]:
southside.with_column('Blocks South of Campus', np.arange(3))

In [ ]:
southside

In [ ]:
southside = southside.with_column('Blocks South of Campus', np.arange(3))

In [ ]:
southside

## Reading a Table from a File  ##

In [ ]:
minard = Table.read_table('minard.csv')

In [ ]:
minard

## Accessing a Column as an Array ##

In [ ]:
minard.column('Survivors')

In [ ]:
minard.column(4)

In [ ]:
initial = minard.column(4).item(0)

In [ ]:
proportion_surviving = minard.column(4) / initial
proportion_surviving

## Extending a Table with a New Column ##

In [ ]:
minard = minard.with_column('Percent Surviving', proportion_surviving)

In [ ]:
minard

In [ ]:
minard.set_format(5, PercentFormatter)

In [ ]:
minard.column(5)

In [ ]:
minard.labels

In [ ]:
minard.relabeled('Percent Surviving', 'Percent of Survivors')

In [ ]:
minard.num_columns

In [ ]:
minard.num_rows

## Working with Columns ##

In [ ]:
movies = Table.read_table('movies_by_year_with_ticket_price.csv')

In [ ]:
movies

In [ ]:
estimated_num_tickets = movies.column(2) * (10 ** 6) / movies.column(1)

In [ ]:
movies = movies.with_column('Estimated Tickets', estimated_num_tickets)

In [ ]:
movies

In [ ]:
movies.set_format('Estimated Tickets', NumberFormatter)

In [ ]:
movies.plot('Year', 'Estimated Tickets')

## Rows ##

In [ ]:
movies.where('Year', are.between(2000, 2005))

In [ ]:
movies.where('#1 Movie', are.equal_to('Avatar'))

In [ ]:
movies.where('#1 Movie', 'Avatar')

In [ ]:
movies.where('#1 Movie', are.containing('Harry Potter'))

In [ ]:
movies.where('Number of Movies', are.below(450))

In [ ]:
movies.where('Year', are.above(2010))

In [ ]:
movies.take(3)

In [ ]:
movies.take(np.arange(4))